@mixin transition(
  $properties: all,
  $duration: 0.35s,
  $timing-function: linear
) {
  transition: $properties $duration $timing-function;
}

@mixin section-title {
  font-weight: $fw-semibold;
  font-size: $fs-4xl;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@mixin container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;

    &-track {
      background: transparent;
    }

    &-thumb {
      background: $orange;
      border-radius: 0.4rem;
    }
  }

  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $orange transparent;
  }
}
