$black: hsl(0, 0%, 0%);
$primary: hsl(210, 100%, 63%);
$dark-primary: #337ecc;
$white: hsl(0, 0%, 100%);
$gray: hsl(240, 14%, 90%);

$ff-dodo: "Dodo";

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 1.625rem;
$fs-4xl: 2.25rem;
$fs-5xl: 3.25rem;
